div#shell {
  display: block;
  position: relative;
  margin: 100px auto;
  width: 800px;
  height: 600px;
}

div#shell{
  z-index: 1;
}

img#planet1 {
  position: absolute;
  top: 150px;
  left: 350px;
  z-index: 1;
}

img#planet2 {
  position: absolute;
  top: 30px;
  left: 100px;
  z-index: 1;
}

img#ball {
  position: absolute;
  top: 0px;
  left: 0px;
}
